/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* ----- UTILITY ----- */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/* ----- CONTENT ----- */

/* Regole su tag */

header {
    background-color: red;
    height: 200px;
}

main {
    background-color: grey;
    height: 500px;
}

footer {
    background-color: yellow;
    height: 300px;
}

/* /Regole su tag */

/* Regole su classi */

/* contenitore intera pagina */
.center-column-page {
    max-width: 1400px;
    background-color: blue;
    height: 1000px;
    margin: 0 auto;
}
/* /contenitore intera pagina */

/* /Regole su classi */



/* Regole su ID */

/* /Regole su ID */